{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}

 <h3>Welcome {{context.nm}}</h3>
<h1>Query Form</h1>
{% if sedt %}
<form action="{% url 'update' pk=sedt.id %}" method="post">
    {% csrf_token %}
    ID:<input type="number" name="id" value="{{sedt.id}}">
    <br>
    <br>

    <input type="email" name="email" value="{{sedt.Email}}" hidden>
    <br>
    <br>
    Title:<input type="text" name="title" value="{{sedt.Title}}">
    <br>
    <br>
    DisCription:<input type="text" name="discrip" value="{{sedt.Descriptions}}">
    <br>
    <br>
    
<button type="submit">Update</button>
</form>
{% else %}
<form action="{% url 'queryform'  %}" method="post">
    {% csrf_token  %}

    Title:<textarea name="title" ></textarea>
<br>
<br>
Descriptions:<textarea name="Des" ></textarea>
<br>
<br>
 <input type="email"  name="email" value="{{context.em}}" >
<input type="submit" value="Submit" >

</form>
{% endif%}
<form action="{% url 'showdata' %}" method="post">
    {% csrf_token %}
    <input type="email" value="{{context.em}}" name="email" hidden>
    <input type="submit" value="showdata">
</form>
{% if key1 %}
<table border="2">
    <thead>
<tr>
    <th>ID</th>
    <th>Email</th>
    <th>Title</th>
    <th>Description</th>
    <th>EDit</th>
    <th>Delete</th>
</tr>
       
    </thead>
    <tbody>
        {% for i in key1 %}
        <tr>
            <th>{{i.id}}</th>
            <th>{{i.Email}}</th>
            <th>{{i.Title}}</th>
            <th>{{i.Descriptions}}</th>
            <th><form action="{% url 'edit' pk=i.id %}"  method="post" name="edit">
                {% csrf_token %}
                <input type="text" name="email" value="{{i.Email}}" hidden>
            <button type="submit">Edit</button>
            </form></th>
            <th>
                <form action="{% url 'delete' pk=i.id ml=i.Email %}" method="post" name="delete">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </th>
        </tr>
        {% endfor %}

    </tbody>

</table>
{% endif %}


    {% endblock %}

    
</body>
</html>