{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}

 <h3>Welcome {{context.nm}}</h3>
 {{key}}
<h1>Query Form</h1>
<form action="{% url 'queryform'  %}" method="post">
    {% csrf_token  %}

    Title:<textarea name="title" ></textarea>
<br>
<br>
Descriptions:<textarea name="Des" ></textarea>
<br>
<br>
 <input type="email"  name="email" value="{{context.em}}" >
<br>
<br>
 <input type="password"  name="email" value="{{context.ps}}" hidden>
<br>
<br>
<input type="submit" value="Submit" >
</form>

    {% endblock %}

    
</body>
</html>